**/.git
**/.gitignore
**/node_modules
**/npm-debug.log
**/.env
**/.env.*
!**/.env.example
**/storage/app/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*
**/storage/logs/*
**/vendor
**/.idea
**/.vscode
**/.vagrant
**/Homestead.json
**/Homestead.yaml
**/.DS_Store
**/Thumbs.db